{% extends "kc_template.html" %}
{% block page_title %} NAME HERE | Connector {% endblock %}

{% block breadcrumbs %}
<ol>
    <li><a href="/home">Home</a></li>
    <li><a href="/c">Connectors</a></li>
    <li>{{connector['name']}}</li>
</ol>
<h2>Connector Information and Connection Page</h2>
{% endblock %}

{% block page_content %}

{% if connector %}
<section id="portfolio-details" class="portfolio-details">
  <div class="container">

    <div class="row gy-4">

      <!-- Connector Image (Slider) -->
      <div class="col-lg-6">
        <div class="portfolio-details-slider swiper-container">
          <div class="swiper-wrapper align-items-center">

            <!-- <div class="swiper-slide">
              <img src="/static/img/portfolio/portfolio-details-1.jpg" alt="">
            </div>

            <div class="swiper-slide">
              <img src="/static/img/portfolio/portfolio-details-2.jpg" alt="">
            </div>

            <div class="swiper-slide">
              <img src="/static/img/portfolio/portfolio-details-3.jpg" alt="">
            </div> -->

            {% for image in connector['imageURLs'] %}

            <div class="swiper-slide">
              <img src="{{ image }}" alt="{{ connector['name'] }} Image">
              <img src="/static/img/users/{{ connector['imageURLs'] }}" alt="{{ connector['name'] }} Profile Picture">
            </div>

            {% endfor %}

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <!-- Connector Information -->
      <div class="col-lg-6">
        <div class="portfolio-info">
          <h3> {{connector['name']}}</h3>
          <ul>
            <li><strong>Title</strong>: {{ connector['title']}}</li>
            <li><strong>Education</strong>: 
              <ol>
                <li>UT Austin, ECE 2021</li>
                <li>Harvard, JD 2025</li>
                <li>School, Degree Year</li>
              </ol>
            </li>
            <li><strong>Linkedin URL</strong>: <a href="{{connector['linkedinURL']}}">{{connector['linkedinURL']}}</a></li>
          </ul>
        </div>


        <!-- using pricing block for connection initiator -->
        <section id="pricing" style="padding:0;">
          <div class="card">
            <div class="card-block">
              <a href="#" class="btn">Contact {{connector['name']}}</a>
            </div>
          </div>
        </section>
            
      </div>
      
    </div>

    <div class="portfolio-description">
      <h3>About {{connector['name']}}</h3>
      <p> {{connector['bio']}} </p>
    </div>

  </div>s
</section>


{% else %}
<section class="inner-page pt-4">
  <div class="container">
    <div class="alert alert-danger" role="alert">
      Error: Connector Not Found
    </div>
  </div>
</section>
{% endif %}

{% endblock %}