{% extends "kc_template.html" %}
{% block page_title %} Connectors {% endblock %}

{% block breadcrumbs %}
<ol>
  <li><a href="/home">Home</a></li>
  <li>Connectors</li>
</ol>
<h2>Connectors List and Search</h2>
{% endblock %}

{% block page_content %}
{{ super() }}

<section class="inner-page pt-4">
  <div class="container text-center">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">
        <header class="section-header">
          <h3 class="section-title">Connectors List and Search</h3>
          <hr />
        </header>

        <div class="row text-left">
          <form>
            <div class="form-group row">
              <div class="col-12 col-md-4 my-2">
                <input type="search" class="form-control" id="connectorsSearchBar" placeholder="Seach" />
              </div>
              <div class="col-12 col-md-4 my-2">
                <select class="form-control" id="professional-categories-filter" multiple="multiple"></select>
              </div>
             <div class="col-12 col-md-4 my-2">
              <select class="form-control" id="languages-filter" multiple="multiple"></select>
             </div> 
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-12">
            <ul id="connectorsList" class="d-flex flex-row mb-3"></ul>
          </div>
        </div>
      </div>
    </section>
    <!-- End Portfolio Section -->
  </div>
</section>
<script src="static/js/search.js"></script>
{% endblock %}