{% extends "kc_template.html" %}
{% block page_title %} Home {% endblock %}

{% block breadcrumbs %}
<ol>
    <li><a href="/home">Home</a></li>
    <li>Home page</li>
</ol>
<h2>Home Page</h2>
{% endblock %}

{% block page_content %}
{{ super() }}


<section class="inner-page pt-4">
    <div class="container">
        <h2> Welcome to KIN-Connections, a mentee-driven program aiming to facilitate connections between people
            globally. To get started, create an account and begin browsing through connector profiles. Refer to the FAQ
            page for more information on the program. </h2>
        <h3> How do I get started?</h3>
        <p> 1. Register using your name and email address. </p>
        <p> 2. Browse the list of connectors to see their names, titles and job descriptions. Use the filters to find
            connectors who match your interests. </p>
        <p> 3. Send an introductory email to a connector, specifying what you’d want to talk to them about. Not sure how
            to start? Use one of the email templates, but customize it to reflect your wants. You will be cc’d on this
            email so that you can continue connecting with them through email. It may also be helpful to include when
            you would be available for a call. </p>


        <h3> Who is a connector vs a connectee?</h3>
        <p>A connector is a mentor who has experiences and insights to share, and wants to support youth in defining and
            achieving their goals. Their profiles are available on the website and can be filtered by field of work,
            language and location. </p>

        <p>A connectee is a young individual seeking to connect with someone who has experiences and insights to share -
            whether it's about career & educational goals, resilience & wellness, and/or finding your passion. </p>
    </div>
</section>





{% endblock %}