{% extends "kc_template.html" %}
{% block page_title %} Home {% endblock %}

{% block breadcrumbs %}
<ol>
    <li><a href="/home">Home</a></li>
    <li>Home page</li>
</ol>
<h2>Home Page</h2>
{% endblock %}

{% block page_content %}
    {{ super() }}


    <section class="inner-page pt-4">
        <div class="container">
            <p> hey guys, how's it going? </p>
            <h1> this is a super basic webpage for the dashboard</h1>
        
        
            <h2>profile</h2>
            <h2>past connections</h2>
        
        <p>lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> lkjlkjlsdfsadf <br/> </p>
            <p>need a footer oops</p>
        </div>
    </section>

   



{% endblock %}
