{% extends "kc_template.html" %}
{% block page_title %} Home {% endblock %}

{% block breadcrumbs %}
<ol>
    <li><a href="/home">Home</a></li>
    <li>Home page</li>
</ol>
<h2>Home Page</h2>
{% endblock %}

{% block page_content %}
{{ super() }}


    <section class="inner-page pt-4">
        <div class="container">
            <h2> Welcome to Kin Connections! </h2>

            <p>Recently viewed?</p>
            <p>search more</p>
            
            
            
    
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="zoom-in">
  
          <header class="section-header">
            <h3>Featured Connectors</h3>
            <p>Regularly, we spotlight a few connectors!</p>
          </header>
  
          <div class="row justify-content-center">
            <div class="col-lg-8">
  
              <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">
  
                    <!-- TODO START LOOP -->
                  <div class="swiper-slide">
                    <div class="testimonial-item">
                      <img src="static/img/testimonial-1.jpg" class="testimonial-img" alt="">
                      <h3>Saul Goodman</h3>
                      <h4>Ceo &amp; Founder</h4>
                      <p>
                        Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                      </p>
                    </div>
                  </div><!-- End testimonial item -->
                    <!-- TODO END LOOP -->
  
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
  
        </div>
      </section><!-- End Testimonials Section -->
  

    </section>
        <h3> Who is a connector vs a connectee?</h3>
        <p>A connector is a mentor who has experiences and insights to share, and wants to support youth in defining and
            achieving their goals. Their profiles are available on the website and can be filtered by field of work,
            language and location. </p>

        <p>A connectee is a young individual seeking to connect with someone who has experiences and insights to share -
            whether it's about career & educational goals, resilience & wellness, and/or finding your passion. </p>
    </div>
</section>





{% endblock %}